{:allowed-dependencies {:cli [:parser :normalizer :resolver :effect-checker :type-checker :java-resolver :exhaustiveness-checker :jvm-lowerer :compiler]
                        :compiler [:effect-checker :exhaustiveness-checker :java-resolver :jvm-emitter :jvm-lowerer :linker :module-interface :normalizer :parser :project-files :project-sources :resolver :stdlib :type-checker]
                        :effect-checker [:expr-walker :imported-interfaces :java-effects :java-members :java-types :patterns :type-checker]
                        :exhaustiveness-checker [:expr-walker :imported-interfaces :patterns :type-checker]
                        :interface-sources [:module-interface :normalizer :parser]
                        :imported-interfaces []
                        :java-effects []
                        :java-members [:java-types]
                        :java-resolver [:expr-walker :imported-interfaces :java-members :java-types :patterns :type-checker]
                        :java-types []
                        :linker [:interface-sources :stdlib]
                        :jvm-cells []
                        :jvm-class-writer []
                        :jvm-closures [:jvm-cells]
                        :jvm-emit-cells []
                        :jvm-emit-closures []
                        :jvm-emit-data []
                        :jvm-emit-entry []
                        :jvm-emit-try []
                        :jvm-emit-text []
                        :jvm-emitter [:jvm-cells :jvm-class-writer :jvm-emit-cells :jvm-emit-closures :jvm-emit-data :jvm-emit-entry :jvm-emit-text :jvm-emit-try]
                        :jvm-lowerer [:imported-interfaces :java-types :jvm-lowerer-expr :jvm-lowerer-types]
                        :jvm-lowerer-expr [:jvm-cells :jvm-closures :jvm-lowerer-match :jvm-lowerer-types]
                        :jvm-lowerer-match []
                        :jvm-lowerer-types [:jvm-lowerer-match :jvm-type-info]
                        :jvm-type-info [:jvm-closures]
                        :module-interface []
                        :resolver [:expr-walker :imported-interfaces]
                        :project-graph [:normalizer :parser]
                        :project-files [:project-graph :project-sources]
                        :project-sources [:interface-sources :normalizer :parser :project-graph :stdlib]
                        :stdlib [:interface-sources :parser]
                        :type-checker [:imported-interfaces :java-types :patterns]
                        :parser []}
 :ignored-components [:spec]
 :fail-on-cycles true
 :fail-on-violations true}
